Übersicht für Knoten <%= @info[:hostname] %>.
       <% if @info[:dbServer] %>
       DB-Server ist  <%= @info[:dbServer] %> 
       <% else %>
       Kein DB-Server definiert.
       <% end %>
       <% if @info[:dbBackup] %>
       DB-BackupServer ist <%= @info[:dbBackup] %> </h3></LH>
       <% else %>
       Kein DB-BackupServer definiert.
       <% end %>
<UL>
       <br>
       <LH><h2>Überwachungen. </h2>
       <br>
    <li><h3>Auslastung der eingehängten Partitionen</h3>
    
       <!-- Ohne http://benogle.com/2009/06/16/simple-css-shiny-progress-bar-technique.html 
            hätte Niklaus dies nicht geschafft!! -->
    <%  @info[:mounts].each do |id, m|  %>
      <div class="meter-wrap">
          <div class="meter-value" style="background-color: <%= m[:background] %>; width: <%= m[:percentage] %>%;">
              <div class="meter-text">
              <%= sprintf('Belegt %2d%% FS-typ: %-15s', m[:percentage],m[:mount_type]) + ' eingehängt in ' + m[:mount_point] %> 
              </div>
          </div>
      </div>
      <br>
    <% end %>
       <% if @info[:backup][:setup_error] %>
        <LI> <div style="background-color: #FF0000" TITLE="<%= @info[:backup][:tooltip] %>" >Fehler: <%= @info[:backup][:okay] %></div></LH>
       <% else %>
        <LI> <div TITLE="<%= @info[:backup][:tooltip] %>" ><%= @info[:backup][:okay] %></div></LH>
       <% end %>
    
      <li>Todo: Letztes Backup auf externen Datenträger<br></li>
      <li>Todo: Auslastung Datenträger Server</li>
      <li>Todo: Auslastung Datenträger Backup</li>
      <li>Todo: Status Backup Datenbank</li>
    </ul>
    <br>
    <ul>
      <LH><h2>Wartungsarbeiten</h2></LH>
       <br>
       
    <li><h3><a href="start">starte beliebige Elexis/Datenbank-Kombination</a></h3></li>
    
    <li><section id="startDbBackup">  
        <form action="/startDbBackup" method="post">  
          <input type="submit" value="Datenbank-Backup jetzt starten"> 
        </form>  
      </section>        
    </li>
    
    <li>Todo: Datenbank-Backup einlesen (externen Datenträger, Backup-Verzeichnis)</li>
    
    <li>Todo: Umschalten auf Backup-Server</li>
    
    <li>Todo: Neueste (Med)-Elexis Version installieren</li>
    
    </ul>
    
