<h2>Hier können jede gewünschte Kombination der Elexis-Version, Datenbank und Benutzer starten.</h2>
<br>
<h3>Bitte Version, Datenbank und Benutzer auswählen.</h3>
<section id="start">  
  <form action="/start" method="post">  
    <br>
    <select name='version' size=1>
               <% @elexis_versions.each do |version, path| %>
                  <option value=<%= path %>><%= version %></option>
               <% end %>
            </select>
    dbTyp
    <select name='dbFlavor' >
    <br>
               <% settings.info[:dbFlavors].each do |dbFlavor| %>
                  <option value=<%= dbFlavor %>><%= dbFlavor %></option>
               <% end %>  
            </select>
    dbName <select name='dbName'>
    <br>
               <% settings.info[:dbNames].each do |dbName| %>
                  <option value=<%= dbName %>><%= dbName %></option>
               <% end %>
            </select>
    <br>
    dbUser <select name='dbUser'>
    <br>
               <% settings.info[:dbUsers].each do |dbUser| %>
                  <option value=<%= dbUser %>><%= dbUser %></option>
               <% end %>
            </select>
    <br>
    <br>
    <h3>Passwort: <input type="text" name="dbPw" value='elexisTest'></h3>
    <br>
     <input type="submit" value="ausführen"> 
  </form>  
</section>  
  <br>
  <%= settings.info %>
  